
# For internal test
data/*
config/*.pth

test.ipynb
# Jupyter, Python cache
*.pyc
__pycache__/
*/__pycache__/*
pages/__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py

